<div class="container">
  <h1>Booking #<%= @chatroom.index %></h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>"> <%# for chatroom_channel.js %>
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%# POST /chatrooms/:chatroom_id/messages" %>
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.index}" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
