<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom border-muted sticky-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'logo.png' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Rent a car", cars_path, class: "nav-link" %></li>
      <% if user_signed_in? %> <%# can see only if users signed in !!!!! %>
        <li class="nav-item"><%= link_to "Bookings", bookings_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Owner", listmycars_cars_path, class: "nav-link" %></li>

        <li class="nav-item"><span class="nav-link font-weight-bold"><%= current_user.first_name %></span></li>
        <li class="nav-item dropdown">

          <%# Display FB profile pic or a placeholder image %>
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <%#= image_tag "https://kitt.lewagon.com/placeholder/users/zachchung", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My account", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <%= link_to "Login with FB", omniauth_authorize_path(:user, :facebook), class: "nav-link" %>
      <% end %>
    </ul>
  </div>
</div>
