<div class="card p-3 col-md-10 col-lg-6 mx-auto">
  <h1>Add my car</h1>
  <%= simple_form_for(@car) do |f| %>
    <%= f.input :name, label: "Car model" %>
    <%= f.input :location %>
    <%= f.input :price, label: "Rental price/ day" %>
    <%= f.input :seats, label: "Seat capacity" %>
    <%= f.input :year, label: "Make year" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit 'Add Car', class: "btn btn-lg btn-primary"  %>
  <% end %>
  <%= link_to "< Back", :back, class: "mt-3" %>
</div>

